form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  font-family: sans-serif;
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
}

form input,
form textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

form textarea {
  resize: vertical;
}

form button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #444;
}
