.header {
  background-image: url("../../../img/main-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 75vh;
}

.jeu-container {
  width: 60%;
  -webkit-box-shadow: 0px 0px 10px 4px #ccc;
  box-shadow: 0px 0px 10px 4px #ccc;
  transition: all 0.6s;
  overflow: hidden;
}

.jeu-container:hover {
  transform: scale(1.15);
  transition: all 0.6s;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 15px 10px #bbb;
  box-shadow: 0px 0px 20px 15px #bbb;
}

/* .jeu-container__img {
  background-position: 50% 50%;
  transition: 0.8s;
}

.jeu-container:hover .jeu-container__img {
  transform: scale(1.05);
  transition: 0.8s;
} */

.rules {
  --max-lines: 3.2;
  --line-height: 1.4;

  max-height: calc(var(--max-lines) * 1em * var(--line-height));

  font-size: 1rem;
  overflow: hidden;
  position: relative;
}

.rules::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, transparent, white 99%);
  background-position: bottom;
  pointer-events: none;
}

.cat {
  font-size: 0.8rem;
}
